 <div class="row-fluid">
     <h1>
         <i class="icon-zoom-in"></i>
         Select User
     </h1>
     <hr />
 </div>

<%= form_for :user_search do |f| %>
  <% if @search.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited
        this search from being run:</h2>
      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <p>
    <%= f.text_field :first_name, :value => @first_name, :placeholder => 'First Name' %>
  </p>
  <p>
    <%= f.text_field :last_name, :value => @last_name, :placeholder => 'Last name' %>
  </p>
    <p>
    <%= f.text_field :email, :value => @email, :placeholder => 'Email' %>
  </p>
  <p>
    <%= f.text_field :id, :value => @id, :placeholder => 'User ID' %>
  </p>

  <p>
    <%= f.submit "Search", :class => "btn"%>
  </p>

  <% if @results.present? %>
    <table class="table table-striped sortable">
      <tr>
      	<th align="left">First Name</th>
        <th align="left">Last Name</th>
        <th align="left">Email</th>
        <th align="left">User Id</th>
        <th align="left">Status</th>
        <th align="left"></th>
      </tr>
      <% @results.each do |user| %>
        <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        <td><%= user.status %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        </tr>
      <% end %>
    </table>
  <% elsif @search.completed? %>
    No Results found
  <% end %>

<% end %>